
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #EAEDED;
  
  }
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
   
  /* Plus / Minus */

  .dash-el {
    color: rgb(255, 255, 255);
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
  
  }
  
  .plus-el {
    color: rgb(255, 255, 255);
    background-color: green;
    padding-left: 2px;
    padding-right: 3px;
    border-radius: 3px;
    
  }