
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #131921;
    color: white;
    padding: 25px 60px;
    margin-bottom: 50px;
    align-items: center;
  }
  
  .cart {
    position: relative;
    color: #212529;
    vertical-align: top;
    height: 50px;
    
  }
  
  .cartAmount {
    position: absolute;
    top: -0px;
    right: 120px;
    font-size: 16px;
    color: #21b1f9;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    font-weight: bold;
  }
  